#navigation {
  border-bottom: 1px dotted grey;
}

#navigation ul {
  list-style-type: none; /* Removes bullets */
  padding-left: 0;       /* Removes indentation */
}

#navigation li {
  display: inline;       /* Shows list-items left-to-right */
}

#navigation a {
  color: purple;
  text-decoration: none;
}

#content {
  background-color: grey;
  color: white;
  
  width: 75%;
  float: right;

  text-align: right;
}
